#header {
	text-align: right;
}

#header li {
	display: inline;
	margin: 9px;
}

#header a {
	text-decoration: none;
	color: #5b5b5b;
}

#logo {
	text-align: center;
	margin-top: 175px;
	margin-bottom: 20px;
}

#input {
	text-align: center;
}

#search {
	height: 35px;
	width: 450px;
	border: 1px solid #f4f4f4;
	border-radius: 1px;
	box-shadow: 0 2px 2px rgb(203, 203, 203);
	background-image: url("images/Google_microphone_logo.png");
	background-size: 14px;
	background-position: right 15px center;
	background-repeat: no-repeat;
}

#search:hover {
	box-shadow: 0 4px 4px rgb(203, 203, 203);
}

#buttons {
	padding: 10px;
	margin-top: 10px;

}

#btnSearch, #btnLucky {
	padding: 10px;
	border: 1px solid rgba(255,255,255,0);
	color: #757575;
	background-color: #f4f4f4;
	font-weight: bold;
}

#btnSearch:hover, #btnLucky:hover {
	border: 1px solid #c6c6c6;
	background-color: #f8f8f8;
}

#btnSignIn {
	padding: 8px;
	color: white;
	background-color: #4285f4;
	border: none;
	border-radius: 2px;
	font-weight: bold;
}

#footer {
	display: block;
	width: 99%;
	background-color: #f2f2f2;
	position: absolute;
	bottom: 0px;
	border: solid 1px #DDDDDD;
	color: #666666;
	clear: both;
}

#footer #left {
	float: left;
}

#footer ul {
	margin: 15px;
	list-style: none;
}

#footer #right {
	float: right;
}

#footer li {
	padding: 15px;
	display: inline;
}
